@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #fff8ef;
  --bg-secondary: #e6e1d8;
  --bg-tertiary: #000000;
  --fg-primary: #232323;
  --fg-secondary: #8b8b8b;
  --fg-tertiary: #505050;
  --fg-quadrary: #606060;
  --sep-primary: #eaeaea;
  --sep-secondary: #1b1b1b;
  --sep-tertiary: #2e2e2e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--fg-primary);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Lenis scroll recommended css */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/* --- */
